<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Chatbot</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-header">
                <div class="user-info">
                    <img src="../static/avatar.webp" alt="User Avatar" class="avatar">
                    <div class="user-name">K8s ai</div>
                </div>
            </div>
            <div id="chat-display" class="chat-display"></div>
            <div class="input-container">
                <input type="text" id="user-input" class="user-input" placeholder="Type your message...">
                <button onclick="sendMessage()" class="send-button">Send</button>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>

